/* Global styles for the body */
body {
  margin: 0; /* Removing default margin */
  font-family: Arial, Helvetica, sans-serif; /* Setting default font */
  background-color: #f4f4f4; /* Light background color */
}
